---
- hosts: 10.0.0.1
  gather_facts: true
  become: true
  collections:
   name: community.network
  tasks:
    - name: Show the configuration for eth0 and eth1
        edgeos_command:
        commands: show interfaces ethernet {{ item }}
        loop:
          - eth0
          - eth1
          - eth2
