---
- hosts: 10.0.0.250
  gather_facts: false
  debugger: on_failed
  connection: network_cli
  vars:
    - ansible_port: "{{ ssh_port }}"
    - ansible_network_os: "{{ network_os }}"
  
  roles:
    - ansible-network.network-engine
    
  tasks:
    - name: Show version
      ios_command:
        commands: show version
    
    - name: Get Backup
      ios_command:
        commands: show run
      become: yes
      register: ios_cmd
      
    - name: Show Interfaces
      ios_command:
        commands: show ip int br
      become: yes
      register: ios_interfaces
      
    - name: Display Output of Interfaces
      debug: var=ios_interfaces
      
    - name: Parse RAW output
      debugger: always
      command_parser:
        file: "/etc/ansible/parsers/show_ip_interface_brief.yaml"
        content: "{{ ios_interfaces.stdout[0] }}"
      
    - name: Data AFTER parser-majiggering (Variable is in parser file)
      debug: var=ip_interface_facts
      
    - name: copy Running config to backup folder
      copy:
        content: "{{ ios_cmd.stdout[0] }}"
        dest: "/etc/ansible/backups/router_bkup.txt"
