---
- hosts: 10.0.0.250
  gather_facts: false
  connection: network_cli
  
  roles:
    - ansible-network.network-engine
    
  tasks:
    - name: Show Version
      ios_command:
        commands: show version
        
    - name: Get show running
      ios_command:
        commands: show running-config
      register: ios_cmd
      
    - name: Get Debug
      debug: var=ios_cmd
      
    - name: copy Running config to backup folder
      copy:
        content: "{{ ios_cmd.stdout[0] }}"
        dest: "/etc/ansible/playbooks/backup/router_bkup.txt"
