---
- hosts: 10.0.0.27
  gather_facts: false
  connection: network_cli

  tasks:
    - name: Get show running
      ios_command:
        commands: show running-config
      register: ios_cmd
    - name: Get Debug
      debug: var=ios_cmd
    - name: copy Running config to backup folder
      copy:
        content: "{{ ios_cmd.stdout[0] }}"
        dest: "/etc/ansible/playbooks/backup/router_bkup.txt"
