---
## Debug VARS
- name: Debug VARS
  debug:
    msg: Values "{{ system }}"

## Syslog for Junos
- name: Update Syslog
  junos_config:
    src_format: set
    src: syslog-mx.j2
  tags:
    - syslog

## NTP for Junos
- name: Update NTP
  junos_config:
    lines:
      - set system ntp server "{{ item.ntp_server }}"
  with_items:
    - "{{ time['ntp']['hosts'] }}"
