{% if routing_host['statics'] is defined %}
!
!
!
{% for route in routing_host['statics'] %}
ip route {{ route['network']  }} {{ route['mask'] }} {{ route['next_hop'] }} {%if route['admin_distance'] is defined %}{{ route['admin_distance'] }} {% endif %}{%if route['track'] is defined %}track {{ route['track'] }}{% endif %}

{% endfor %}
!
{% endif %}