{% if system is defined %}
hostname "{{ inventory_hostname }}"
{% if  system['enable']['encrypted'] == True %}
enable password encrypted {{ system['enable']['enable_password'] }}
{% else %}
enable password {{ enable_password }}
{% endif %}
!
!
name-server {% for server in system['dns_servers'] %} {{ server['server'] }} {% endfor %}

!
!
no auto-config
auto-config authname adtran encrypted password 3f39d07a2fdf3ac29120d2dbd1042cd80022
!
service password-encryption
!
{% for user in system['users'] %}
{% if user['encrypted'] == True %}
username {{ user['username' ] }} password encrypted {{ user['password'] }}
{% else %}
username {{ user['username'] }} password {{ user['password'] }}
{% endif %}
{% endfor %}
!
!
no tftp server
no tftp server overwrite
no http server
http secure-server
snmp agent
no ip ftp server
no ip scp server
no ip sntp server
!
!
auto-link
auto-link server primary auto-link.4dct.com
!
!
sip
sip udp 5060
sip tcp 5060
no sip tls
!
!
!
voice feature-mode network
voice forward-mode network
!
!
!
!
!
!
!
!
!
!
!
voice codec-list g729
codec g729
codec g711ulaw
!
!
{% endif %}