hostname "{{ inventory_hostname }}"
{% if  system['enable']['encrypted'] == True %}
enable password encrypted {{ system['enable']['enable_password'] }}
{% else %}
enable password {{ enable_password }}
{% endif %}
!
!
name-server {% for server in system['dns_servers'] %} {{ server['server'] }} {% endfor %}

!
!
no auto-config
auto-config authname adtran encrypted password 3f39d07a2fdf3ac29120d2dbd1042cd80022
!
service password-encryption
!
{% for user in system['users'] %}
{% if user['encrypted'] == True %}
username {{ user['username' ] }} password encrypted {{ user['password'] }}
{% else %}
username {{ user['username'] }} password {{ user['password'] }}
{% endif %}
{% endfor %}
!