{% if system['settings']['syslog'] is defined %}{% for host in system['settings']['syslog'] %}set system syslog host {{ host['name'] }} any any
{% if host['port'] is defined %}set system syslog host {{ host['name'] }} port {{ host['port'] }}
{% endif %}
{% endfor %}
{% endif %}