{% if system['syslog'] is defined %}{% for host in system['syslog']['hosts'] %}logging server {{ host['name'] }}{% if host['port'] is defined%}{% if {{ ansible_net_version }} > "7" %} port {{ host['port'] }} {% endif %}
{% endif %}
{% endfor %}
{% endif %}