---
## Update NXOS devices syslogs.
- debug:
    msg: "{{ item }}"
  with_items:
    - "{{ system['syslog']['hosts'] }}"

- name: Configure NXOS Syslog
  cisco.nxos.nxos_logging:
    dest: server
    remote_server: "{{ item.name }}"
    state: present
  with_items:
    - "{{ system['syslog']['hosts'] }}"

#- name: Get gather_facts
#  cisco.nxos.nxos_facts:
#    gather_subset:
#    - 'config'
#- name: Get OS Version
#  debug: var=ansible_net_version
#- name: Update NXOS Syslog
#  cisco.nxos.nxos_config:
#    src: syslog-cisco-nxos.j2
#  tags:
#    - syslog
