---
## Update NXOS devices syslogs.
- name: Get gather_facts
  cisco.nxos.nxos_facts:
    gather_subset:
    - 'config'
- name: Update NXOS Syslog
  cisco.nxos.nxos_config:
    src: syslog-cisco-nxos.j2
  tags:
    - syslog
